.directory-btn {
    background-color: #4CAF50;
    color: white;
    margin-top: 1em;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: clamp(1.3em, 3vh, 6vw);
    font-weight: 500;
    border-radius: .5em;
}

.directory-btn:hover{
    background-color: #3b923e;
}