.welcomepage {
  display: grid;
  justify-items: center;
  align-content: center;
  background-color: #D9FFE3;
}

.title {
  font-size: clamp(2em, 5vw, 6em);
  text-align: center;
  font-family: "Dekko";
  margin-block: 0.75em;
  color: green;
}

.intro-sentence {
  font-weight: 700;
  font-size: 23px;
}

.buttons {
  display: grid;
  grid-template-columns: 200px;
}

.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
    padding-top: 28px;
}
 
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
 
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
}
 
.linkText {
    padding-left: 16px;
}
 
.linkTextClosed {
    composes: linkText;
    visibility: hidden;
}
 
.sideitem:hover {
    background-color: #244f7d1c;

}
 
.menuBtn {
    align-self: center;
    align-self: flex-start; 
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}