.welcomepage {
  display: grid;
  justify-items: center;
  background-color: #D9FFE3;
}

.title {
  margin-top: 0.25em;
  font-size: clamp(2em, 6vw, 8em);
  color: green;
}

.intro-sentence {
  font-weight: 700;
  font-size: clamp(0.5em, 3vw, 3em);;
}

.buttons {
  display: flex;
  column-gap: 1.3em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
