:root {
  --bg-color: hsl(136, 100%, 93%);
}

body{
  overflow: hidden;
}

.welcomepage {
  display: grid;
  justify-items: center;
  background-color: var(--bg-color);
  position: absolute;
  padding-left: 65px;
  grid-auto-rows: min-content;
}

.brand{
  background-color: var(--bg-color);
  display: grid;
  justify-items: center;
  grid-auto-rows: min-content;
}

.title {
  margin-top: 0.25em;
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: clamp(2.5em, 10vh, 15vw);
  color: green;
}

.intro-sentence {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: clamp(1.3em, 4vh, 5vw);
  padding-bottom: 1em;
  text-align: center;
}

.buttons {
  display: flex;
  column-gap: 1em;
  @media screen and (max-width: 500px){
    column-gap: 4em;
  }
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5em;
  background-color: var(--bg-color);
}

.centre-logo{
  padding: 1em;
  width: clamp(35vh, 50vw, 60vh);
}


@media (prefers-reduced-motion: no-preference) {
  .centre-logo{
    animation-name: pulse;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
  }
  
  .centre-logo:hover {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-origin: center;
    animation-iteration-count: 1;

  }

  @keyframes bounce {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20px); rotate: 0deg; scale: 104%;}
    60% {rotate: -10deg;}
    80% {rotate: 10deg;}
    100% {transform: translateY(-20px); scale: 110%;}
  }
  
  @keyframes pulse {
    0% {scale: 100%;}
    10% {transform: translateY(-20px);scale: 110%;}
    20% {transform: translateY(0px);scale: 100%;}
    40% {transform: translateY(-20px);scale: 110%;}
    60% {transform: translateY(0px); scale: 100%;}
  }
}